<div class="form">
  <div>
    <button pButton type="button" label="Save" routerLink="/equipment/new" (click)="saveEquipment()"></button>
    <button *ngIf="form.value?.id" pButton type="Delete" label="Delete" routerLink="/equipment" class="ui-button-danger"(click)="deleteEquipment()"></button>
  </div>

  <div class="input-wrapper">
    <label>Employee*</label>
    <p-dropdown [formControl]="form.controls.employee" [options]="employees" dataKey="id" placeholder="Employee" optionLabel="value"></p-dropdown>
  </div>

  <div class="input-wrapper">
    <label>Equipment type*</label>
    <p-dropdown [formControl]="form.controls.equipmentType" [options]="equipmentTypes" dataKey="id" placeholder="Equipment type" optionLabel="value"></p-dropdown>
  </div>

  <div class="input-wrapper">
    <label>Manufactor*</label>
    <p-dropdown [formControl]="form.controls.manufactor" [options]="manufacturers" dataKey="id" placeholder="Manufactor" optionLabel="value"></p-dropdown>
  </div>
  
  <div class="input-wrapper">
    <label for="model-input">Model*</label>
    <input pInputText [formControl]="form.controls.model" type="text" size="30">
  </div>

  <div class="input-wrapper">
    <label for="serial-input">Serial number*</label>
    <input pInputText [formControl]="form.controls.serialNumber" type="text" size="30">
  </div>

  <div class="input-wrapper">
    <label for="invoice-input">Invoice date*</label>
    <input pInputText [formControl]="form.controls.invoiceDate" type="text" size="30">
  </div>

  <div class="input-wrapper">
    <label for="guarantee-input">Warranty*</label>
    <input pInputText [formControl]="form.controls.guarantee" type="text" size="30">
  </div>
</div>
