<div class="container">
  <p-table #table [value]="equipment">
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th>Name</th>
        <th>Type</th>
        <th>Manufactor</th>
        <th>Model</th>
        <th>Serial number</th>
        <th>Invoice data</th>
        <th>Warranty</th>
      </tr>
      <tr>
        <th></th>
        <th>
          <p-dropdown
            [options]="distinctEmployees"
            (onChange)="table.filter($event.value, 'employee', 'equals-by-id')"
            placeholder="Select employee"
            optionLabel="value"
            showClear="true"
          ></p-dropdown>
        </th>
        <th>
          <p-dropdown
            [options]="distinctEquipmentTypes"
            (onChange)="table.filter($event.value, 'equipmentType', 'equals-by-id')"
            placeholder="Select equipment type"
            optionLabel="value"
            showClear="true"
          ></p-dropdown>
        </th>
        <th>
          <p-dropdown
            [options]="distinctManufacturers"
            (onChange)="table.filter($event.value, 'manufactor', 'equals-by-id')"
            placeholder="Select manufactor"
            optionLabel="value"
            showClear="true"
          ></p-dropdown>
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>
          <button pButton icon="pi pi-pencil" label="Edit" class="ui-button-warning" (click)="editEquipment(item)"></button>
        </td>
        <td>{{item.employee.value}}</td>
        <td>{{item.equipmentType.value}}</td>
        <td>{{item.manufactor.value}}</td>
        <td>{{item.model}}</td>
        <td>{{item.serialNumber}}</td>
        <td>{{item.invoiceDate}}</td>
        <td>{{item.guarantee}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
